@model IEnumerable<Usuario>
@{
    ViewBag.Subtitulo = "Listagem de Contatos";
}
<header class="d-flex justify-content-between align-items-center">
    <div>
        <h1 class="text-primary">@ViewBag.Subtitulo</h1>
    </div>
    <div>
        <a asp-action="Cadastrar" class="btn btn-primary">Novo Usuário</a>
    </div>
</header>
<hr>

<h1 class="text-primary">Contatos</h1>
<hr>
<a href="/Home/Cadastrar" class="btn btn-primary">Novo Contato</a>
@if (TempData.ContainsKey("Excluiu"))
{
    var excluiu = (bool)TempData["Excluiu"];
    if(excluiu)
    {
        <div class="alert alert-success mt-3 alert-dismissible fade show" role="alert">
            <strong>Contato excluído com sucesso.</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    }
    else
    {
         <div class="alert alert-warning mt-3 alert-dismissible fade show" role="alert">
            <strong>Não foi possível excluir o contato.</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    }
}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Telefone</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.Nome</td>
                <td>@u.Email</td>
                <td>@u.Telefone</td>
                <td>
                    <a asp-action="Cadastrar" asp-route-id="@u.IdUsuario" class="btn btn-sm btn-secondary">Alterar</a>
                    <a asp-action="Excluir" asp-route-id="@u.IdUsuario" class="btn btn-sm btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script src="/lib/bootstrap5/dist/js/bootstrap.js"></script>
}
@section LogoPagina{
    <img src="/img/contatos.png" height="24" class="d-inline-block align-text-bottom">
}